# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
.mesonpy/

# Virtual environments
venv/
env/
.env/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Editor / IDE
.vscode/
.idea/

# Data
*.fits

plot_gradients.py